# Ignore all files in the data folder
/data/*
!/data/placeholder.txt
# Ignore all weight files in the LaneDetector model folder but not the folder
/LaneDetector/models/*
!/LaneDetector/models/placeholder.txt
# Ignore all weight files in the ObjectDetector weights folder but not the folder
/ObjectDetector/weights/*
!/ObjectDetector/weights/placeholder.txt

/Metric_3D/media/*
/Metric_3D/CameraCalibration/images/*
/Metric_3D/weight/*
!/Metric_3D/weight/placeholder.txt

/Metric_3D/show_dirs/*
/Metric_3D/data/*
/Metric_3D/DepthEstimation/models/*